#container-form {
  width: 45vw; /* Adjust the width as needed */
  margin: 0 auto;
  border: #ccc;
  background-color: #efefef;
}

.form_add > * {
  padding: 20px;
}

.form_add label {
  margin-top: 10px; /* Space between the label and the input field */
}

.form_add input,
.form_add textarea,
.form_add select {
  margin-top: 5px;
  padding: 8px;
  width: 100%; /* fields take full width */
}

.form_add input[type="text"],
.form_add input[type="number"] {
  border: 1px solid #ccc; /* Adds a border to input fields */
  border-radius: 4px; /* Rounds the edges slightly */
}

h1 {
  margin-top: 40px;
  padding: 10px 0px 0px 20px;
}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
